body{
    background-color: #ccc;
}

#main-content {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-areas: 
    "gameBoxes gameBoxes gameBoxes navAside" 
    "footer footer footer footer";
}
#menu-options{
    grid-area: navAside;
    /* grid-column: 4; */
    height: auto;
}
#box-container {
    margin-top: 5%;
    grid-area: gameBoxes;
    /* grid-column: 1/4; */
    display: flex;
    height: auto;
    /*background-color: gray;*/
    flex-flow: wrap;
    height: 600px;

}
#markers-title{
    text-align: center;
    font-family: sans-serif;
    font-size: 38px;
}


.letter-box{
    background-color: white;
    border: 2px solid gray;
    margin: 1%;
    width: 21%;
    height: 120px;
    border-radius: 5%;
    text-align: center;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    }

    h1{
        font-family: sans-serif;
        font-size: 68px;
        margin-top: 10%;
        margin-left: 15%;
        cursor: pointer;
        width: 70%;
        border-radius: 100%;
    }

    .letter-box :hover{
        background-color: rgba(224, 231, 132, 0.767);
        
    }


    .selected-box {
        background-color: rgba(224, 231, 132, 0.767);
    }

    .fancy-button {
        border-radius: 20px;
        width: 50%;
        height: auto;
        margin: 20px;
        margin-left: 22%;
        font-family: sans-serif;
        font-size: 20px;
        cursor: pointer;
    }

    .fancy-button:hover {
        background-color: #333;
        color: white;
    }
    #new-game{
        border-radius: 20px;
        width: 50%;
        height: auto;
        margin: 20px;
        margin-left: 22%;
        font-family: sans-serif;
        font-size: 20px;
        cursor: pointer;
        background-color:rgba(4, 142, 184, 0.507);

    }
    
    .marked-word {
        width: 75%;
        font-size: 48px;
        font-family: sans-serif;
        border: 5px solid rgba(170, 166, 166, 0.233);
        border-radius: 20px;
        margin-left: 20%;

    }

    .delete-btn {
        background-color: rgba(197, 0, 0, 0.555);
        width: 8%;
        display: inline-block;
        text-align: center;

        font-size: 40px;
        font-family: sans-serif;
        border: 5px solid rgba(117, 66, 66, 0.233);
        border-radius: 20px;
    }

    .delete-btn:hover {
        background-color:rgba(32, 24, 24, 0.486);
        color: white;
        cursor: pointer;
    }
    .spacer-div{
        display: block
    }

    #find-word {
        display: block;
        background-color: rgba(69, 94, 233, 0.513);
        font-size: 28px;
    }


    #footer {
        text-align: center;
        display: block;
        grid-area: footer;
        margin-top: 100px;
    }

    
    


